$gradient: linear-gradient(
  45deg,
  #7bdf8a 0%,
  #b7e4c7 12.5%,
  #95d5b2 25%,
  #74c69d 37.5%,
  #52b788 50%,
  #40916c 62.5%,
  #2d6a4f 75%,
  #1b4332 87.5%,
  #081c15 100%
);

$light-gradient: linear-gradient(45deg, #e9fbef, #d8f3dc, #b7e4c7, #95d5b2);

$light-green: #d8f3dc;
$medium-green: #52b788;
$medium-dark-green: #40916c;
$dark-green: #081c15;
