/* Default dark mode styles */
:root {
  --background-color: #000d16;
  --text-color: #ffffff;
  --link-color: #bb86fc;
}
body,
.App,
nav {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
body,
p,
button {
  text-align: left;
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: var(--link-color);
}

.container {
  display: flex;
}

/* Light mode styles (if user prefers light mode) */
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --text-color: #000000;
    --link-color: #6200ea;
  }
  svg path {
    fill: white;
  }
}

a {
  all: unset;
}
